[Unit]
Description=Syncthing
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker stop syncthing
ExecStartPre=-/usr/bin/docker rm syncthing
ExecStartPre=/usr/bin/docker pull fellah/box-syncthing
ExecStart=/usr/bin/docker run \
	-p 22000:22000 \
	-p 22026:22026 \
	-v /etc/davfs/secrets \
	-v /root/.config/syncthing \
	--privileged \
	--rm --name=syncthing fellah/box-syncthing
ExecStop=/usr/bin/docker stop syncthing

[Install]
WantedBy=multi-user.target
